.form_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 600px;
  margin: auto;
}

.input_text {
  height: 35px;
  border: 1px solid #ccc;
  line-height: 35px;
  padding: 0 5px; 
  color: #333;
  width: 100%;
}

.submit_button {
  background: #027ed6;
  border: 1px solid #ccc;
  height: 35px;
  color: #fff;
  width: 100%;
}

.submit_button:hover {
  background: #0565a8;
  cursor: pointer;
}