.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: auto;
}

.input_text {
  height: 35px;
  border: 1px solid #ccc;
  line-height: 35px;
  padding: 0 5px; 
  color: #333;
}

.submit_button {
  background: #027ed6;
  border: none;
  height: 37px;
}

.submit_button:hover {
  background: #0565a8;
  cursor: pointer;
}